body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.konvajs-content {
  border: solid 0.2rem black;
}


.inline-block_test {
  display: inline-block;      /* インラインブロック要素にする */    /* 背景色指定 */
  padding: 10px;              /* 余白指定 */
  margin-top: 1rem;
}

.right {
  float: right;
}